<launch>

	<include file="$(find ublox_gps)/launch/ublox_gps_debug.launch"/>
    <include file="$(find nautonomous_gps_adapter)/launch/utm_adapter.launch"/>
    <include file="$(find nautonomous_navigation_transform)/launch/nautonomous_transforms.launch"/>	
    <include file="$(find nautonomous_configuration)/launch/imu/razor-pub.launch"/>
    
    <include file="$(find nautonomous_configuration)/launch/pose/ekf_with_gps.launch"/>
	
    <node pkg="rosbag" type="record" name="rosbag_gps" args="record -o $(find nautonomous_configuration)/launch/test/sensors/gps_ --node=/gps" output="screen"/>
    <node pkg="rosbag" type="record" name="rosbag_imu" args="record -o $(find nautonomous_configuration)/launch/test/sensors/imu_ --node=/imu_node" output="screen"/>
    <node pkg="rosbag" type="record" name="rosbag_utm" args="record -o $(find nautonomous_configuration)/launch/test/sensors/utm_ --node=/utm_adapter" output="screen"/>
    <node pkg="rosbag" type="record" name="rosbag_tf" args="record -o $(find nautonomous_configuration)/launch/test/sensors/tf_ tf tf_static" output="screen"/>

</launch>
