<launch>

    <include file="$(find nautonomous_launch)/launch/templates/nautonomous_template.launch">
        <arg name="sensor_group" value="false"/>
        <arg name="state_group" value="false"/>
        <arg name="routing_group" value="false"/>
        <arg name="negate_image_param" value="false"/>
        <arg name="planner_group" value="false"/> 
        <arg name="coordinate_simulate_group" value="true"/> 
        <arg name="operation_name_param" value="coenhaven"/>	
        <arg name="actuation_group" value="false"/>
        <arg name="webserver_group" value="false"/>
    </include>

</launch>