<launch>

	<include file="$(find nautonomous_launch)/launch/templates/nautonomous_template.launch">
		<arg name="routing_group"  		value="false"/>
		<arg name="coordinate_simulate_group" 	value="true"/>
		<arg name="operation_name_param"  	value="coenhaven"/>
		<arg name="actuation_group" value="true"/>
	</include>

</launch>
