<launch>

    <arg name="scan_topic" default="scan"/>
    <arg name="pointcloud_topic" default="/sensor/lidar/point_cloud"/>

    <arg name="pointcloud_config_file" default="$(find nautonomous_configuration)/config/sensor/pointcloud/pointcloud_to_laserscan.yaml"/>

    <!-- run pointcloud_to_laserscan node -->
    <node pkg="pointcloud_to_laserscan" type="pointcloud_to_laserscan_node" name="pointcloud_to_laserscan">
        <rosparam file="$(arg pointcloud_config_file)" command="load"/>

        <remap from="cloud_in" to="$(arg pointcloud_topic)"/>
        <remap from="scan" to="$(arg scan_topic)"/>
    </node>

</launch>
