<launch>
	<arg name="rosbag_enabled" default="false"/>
	<arg name="rosbag_prefix_url" default="/tmp"/>

	<!-- GROUPS -->
	<arg name="simulate_group" default="false"/>

	<!-- webserver -->
	<arg name="webserver_group" default="true"/>

	<!-- state -->
	<arg name="state_group" default="true"/>
	<arg name="odom_group" default="true"/>
	<arg name="tf_group" default="true"/>

	<!-- navigation -->
	<arg name="navigation_group" default="true"/>
	<arg name="coordinator_group" default="true"/> 
	<arg name="routing_group" default="true"/>
	<arg name="map_group" default="true"/>
	<arg name="navigate_group" default="true"/> 

	<!-- sensors -->
	<arg name="sensors_group" default="true"/>
	<arg name="gps_group" default="true"/>
	<arg name="imu_group" default="true"/>
	<arg name="camera_group" default="false"/>

	<!-- actuation -->
	<arg name="actuation_group" default="true"/>

	<!-- TOPICS -->

	<!-- simulate -->
	<arg name="disturbance_topic" default="/state/disturbances/wind"/>
	<arg name="initial_position_topic" default="/state/location/debug/initial_position"/>
	<arg name="debug_point_topic" default="/state/location/debug/points"/>

	<!-- state -->

	<!-- state/odom -->
	<arg name="odom_combined_topic" default="/state/odom/combined"/>
	<arg name="utm_odom_topic" default="/state/odom/utm" />

	<!-- state/location -->
	<arg name="utm_fix_topic" default="/state/location/fix/utm"/>


	<!-- navigation -->
	<arg name="cmd_vel_topic" default="/navigation/propulsion/twist"/>

	<!-- navigation/map -->
	<arg name="map_data_topic" default="/map/server/map_data"/>
	<arg name="map_metadata_topic" default="/map/server/map_metadata"/>
	<arg name="map_topic" default="/map/server/map"/>

	<!-- sensors -->

	<!-- sensors/imu -->
	<arg name="imu_topic" default="/sensor/imu/9dof"/>
	<!-- sensors/gps -->
	<arg name="gps_fix_topic" default="/sensor/gps/fix"/>
    <arg name="gps_fix_velocity_topic" default="/sensor/gps/fix_velocity"/>

	<!-- actuation -->
	<arg name="left_motor_topic" default="/actuation/propulsion/left"/>
	<arg name="right_motor_topic" default="/actuation/propulsion/right"/>
	<arg name="actuation_watchdog_topic" default="/actuation/propulsion/watchdog"/>	

	<!-- SERVICES-->
	<arg name="route_service" default="/navigation/routing/vaarkaart/route"/>
	<arg name="crop_service" default="/navigation/map/cropper/crop"/>
	<arg name="load_service" default="/navigation/map/server/load"/>

	<!-- ACTION SERVERS -->
	<arg name="coordinator_mission_action_server" default="/mission/coordinator/server"/>


	<!-- PARAMS -->
	<!-- actuation/sabertooth -->
	<arg name="actuation_serial_available_param" default="true"/>
	<arg name="propulsion_differential_mode_param" default="false"/>



	<group if="$(arg simulate_group)">

		<include file="$(find nautonomous_pose_simulator)/launch/nautonomous_propulsion_simulator.launch">
			<arg name="rosbag_enabled" 			value="$(arg rosbag_enabled)"/>
			<arg name="rosbag_prefix_url"		value="$(arg rosbag_prefix_url)"/>

			<arg name="cmd_vel_topic" 			value="$(arg cmd_vel_topic)"/>
			<arg name="disturbance_topic" 		value="$(arg disturbance_topic)"/>

			<arg name="map_topic" 				value="$(arg map_topic)"/>
			<arg name="initial_position_topic" 	value="$(arg initial_position_topic)"/>

			<arg name="odom_combined_topic" 	value="$(arg odom_combined_topic)"/>
		</include>	
		<node name="rviz_visualizer" pkg="rviz" type="rviz" args="-d $(find nautonomous_configuration)/config/rviz/nautonomous_default.rviz"/>

	</group>

	<group if="$(arg navigation_group)">

		<group if="$(arg coordinator_group)">

			<include file="$(find nautonomous_mission_coordinator)/launch/mission_coordinator_server.launch">
				<arg name="rosbag_enabled" 						value="$(arg rosbag_enabled)"/>
				<arg name="rosbag_prefix_url"					value="$(arg rosbag_prefix_url)"/>

				<arg name="routing_enabled" 					value="$(arg routing_group)"/>
				<arg name="map_enabled" 						value="$(arg map_group)"/>
				<arg name="navigate_enabled" 					value="$(arg navigate_group)"/> 

				<arg name="route_service" 						value="$(arg route_service)"/>
				<arg name="crop_service" 						value="$(arg crop_service)"/>
				<arg name="load_service" 						value="$(arg load_service)"/>

				<arg name="coordinator_mission_action_server" 	value="$(arg coordinator_mission_action_server)"/>
			</include> 

			<group if="$(arg simulate_group)">
				<include file="$(find nautonomous_mission_coordinator)/launch/mission_coordinator_client.launch">
					<arg name="rosbag_enabled" 						value="$(arg rosbag_enabled)"/>
					<arg name="rosbag_prefix_url"					value="$(arg rosbag_prefix_url)"/>

					<arg name="coordinator_mission_action_server" 	value="$(arg coordinator_mission_action_server)"/>
				</include>	
			</group>

		</group>

		<group if="$(arg routing_group)">

			<include file="$(find nautonomous_routing_vaarkaart)/launch/vaarkaart_routing.launch">
				<arg name="rosbag_enabled" 		value="$(arg rosbag_enabled)"/>
				<arg name="rosbag_prefix_url"	value="$(arg rosbag_prefix_url)"/>

				<arg name="route_service" 		value="$(arg route_service)"/>
			</include>

		</group>
		
		<group if="$(arg map_group)">

			<include file="$(find nautonomous_map_cropper)/launch/passive_map_cropper.launch">
				<arg name="rosbag_enabled" 		value="$(arg rosbag_enabled)"/>
				<arg name="rosbag_prefix_url"	value="$(arg rosbag_prefix_url)"/>

				<arg name="crop_service" 	value="$(arg crop_service)"/>
			</include>

			<include file="$(find nautonomous_map_server)/launch/nautonomous_map_server.launch" >
				<arg name="rosbag_enabled" 		value="$(arg rosbag_enabled)"/>
				<arg name="rosbag_prefix_url"	value="$(arg rosbag_prefix_url)"/>

				<arg name="map_data_topic" 		value="$(arg map_data_topic)"/>
				<arg name="map_metadata_topic" 	value="$(arg map_metadata_topic)"/>
				<arg name="map_topic" 			value="$(arg map_topic)"/>

				<arg name="load_service" 		value="$(arg load_service)"/>
			</include>

		</group>

		<group if="$(arg navigate_group)">

			<include file="$(find nautonomous_launch)/launch/planner/move_base.launch">
				<arg name="rosbag_enabled" 			value="$(arg rosbag_enabled)"/>
				<arg name="rosbag_prefix_url"		value="$(arg rosbag_prefix_url)"/>

				<arg name="cmd_vel_topic" 			value="$(arg cmd_vel_topic)"/>
				<arg name="odom_combined_topic" 	value="$(arg odom_combined_topic)"/>
			</include>

		</group>
	</group>


	<!--group if="$(arg camera)">

		<include file="$(find zed_wrapper)/launch/zed.launch"/>
		<include file="$(find nautonomous_launch)/launch/laser/depthtolaser.launch"/>

	</group-->

	<group unless="$(arg simulate_group)">
		<!--Sensors-->
		<group if="$(arg sensors_group)">
			<!--GPS-->
			<group if="$(arg gps_group)">
				<include file="$(find ublox_gps)/launch/ublox_gps.launch">
					<arg name="rosbag_enabled" 			value="$(arg rosbag_enabled)"/>
					<arg name="rosbag_prefix_url"		value="$(arg rosbag_prefix_url)"/>
					
					<arg name="gps_fix_topic" 			value="$(arg gps_fix_topic)"/>
    				<arg name="gps_fix_velocity_topic" 	value="$(arg gps_fix_velocity_topic)"/>
				</include>
				<include file="$(find nautonomous_pose_utm)/launch/utm_adapter.launch">
					<arg name="rosbag_enabled" 		value="$(arg rosbag_enabled)"/>
					<arg name="rosbag_prefix_url"	value="$(arg rosbag_prefix_url)"/>
					
					<arg name="gps_fix_topic" 		value="$(arg gps_fix_topic)"/>
					<arg name="utm_fix_topic" 		value="$(arg utm_fix_topic)"/>
					<arg name="debug_point_topic" 	value="$(arg debug_point_topic)"/>
				</include> 
			</group>
			<!--IMU-->
			<group if="$(arg imu_group)">
				<include file="$(find nautonomous_sensor_imu_razor)/launch/razor_pub.launch">
					<arg name="rosbag_enabled" 		value="$(arg rosbag_enabled)"/>
					<arg name="rosbag_prefix_url"	value="$(arg rosbag_prefix_url)"/>

					<arg name="imu_topic" 			value="$(arg imu_topic)" />
				</include>
			</group>
		</group>

		<!--State-->
		<group if="$(arg state_group)">
			<!--Odom and pose-->
			<group if="$(arg odom_group)">
				<include file="$(find nautonomous_pose_odom)/launch/utm_pose_odom.launch">
					<arg name="rosbag_enabled" 		value="$(arg rosbag_enabled)"/>
					<arg name="rosbag_prefix_url"	value="$(arg rosbag_prefix_url)"/>

					<arg name="utm_fix_topic" 		value="$(arg utm_fix_topic)"/>
					<arg name="utm_odom_topic" 		value="$(arg utm_odom_topic)"/>
				</include> 
				<include file="$(find nautonomous_pose_ekf)/launch/nautonomous_pose_ekf.launch">
					<arg name="rosbag_enabled" 		value="$(arg rosbag_enabled)"/>
					<arg name="rosbag_prefix_url"	value="$(arg rosbag_prefix_url)"/>

					<arg name="imu_topic" 			value="$(arg imu_topic)"/>
					<arg name="utm_odom_topic" 		value="$(arg utm_odom_topic)" />
					<arg name="odom_combined_topic" value="$(arg odom_combined_topic)"/>   
				</include>
			</group>
			<group if="$(arg tf_group)">
				<include file="$(find nautonomous_tf)/launch/nautonomous_tf.launch">
					<arg name="rosbag_enabled" default="$(arg rosbag_enabled)"/>
					<arg name="rosbag_prefix_url" default="$(arg rosbag_prefix_url)"/>
					
					<arg name="imu_topic" default="$(arg imu_topic)"/>
					<arg name="odom_combined_topic" default="$(arg odom_combined_topic)"/>
				</include>
			</group>
				
		</group>
		<!--Actuation-->
		<group if="$(arg actuation_group)">
			<!--Sabertooth-->
			<include file="$(find nautonomous_actuation_propulsion_sabertooth)/launch/sabertooth_propulsion_actuation.launch">
				<arg name="rosbag_enabled" 						value="$(arg rosbag_enabled)"/>
				<arg name="rosbag_prefix_url"					value="$(arg rosbag_prefix_url)"/>
			
				<arg name="actuation_serial_available_param" 	value="$(arg actuation_serial_available_param)"/>
				<arg name="propulsion_differential_mode_param" 	value="$(arg propulsion_differential_mode_param)"/>

				<arg name="left_motor_topic" 					value="$(arg left_motor_topic)"/>
				<arg name="right_motor_topic" 					value="$(arg right_motor_topic)"/>
				<arg name="cmd_vel_topic" 						value="$(arg cmd_vel_topic)"/>

				<arg name="actuation_watchdog_topic" 			value="$(arg actuation_watchdog_topic)"/>
			</include>
		</group>
	</group>

	<group if="$(arg webserver_group)">

		<!--include file="$(find nautonomous_launch)/launch/server/rosauth.launch"/-->
		<!--include file="$(find nautonomous_launch)/launch/server/rosbridge.launch"/-->
		<include file="$(find nautonomous_webserver_logging)/launch/logger_server.launch">
			<arg name="utm_fix_topic" 				value="$(arg utm_fix_topic)"/>
			<arg name="imu_topic" 					value="$(arg imu_topic)"/>
			<arg name="odom_combined_topic" 		value="$(arg odom_combined_topic)"/>
			<arg name="actuation_watchdog_topic" 	value="$(arg actuation_watchdog_topic)"/>
		</include>

	</group>
	
</launch>
