<launch>
<!-- vim: set ft=xml noet : -->
	<arg name="simulate" value="true"/>
	<arg name="routing" value="true"/>
	<arg name="logging" value="true"/>
	<arg name="camera" value="false"/>
	<arg name="output_comm" value="false"/>
	<arg name="rviz" value="false"/>
	<arg name="log_to_server" value="true"/>

	<node name="rviz_visualizer" pkg="rviz" type="rviz" args="-d $(find nautonomous_configuration)/launch/rviz/nautonomous_default.rviz" if="$(arg rviz)"/>

	<include file="$(find nautonomous_configuration)/launch/laser/depthtolaser.launch" if="$(arg camera)"/>
	<include file="$(find nautonomous_actuation_simulator)/launch/propulsion_sim.launch" if="$(arg simulate)"/>	

	<include file="$(find ublox_gps)/launch/ublox_gps.launch" unless="$(arg simulate)"/>

	<include file="$(find nautonomous_configuration)/launch/imu/razor-pub.launch" unless="$(arg simulate)"/>
	
	<include file="$(find nautonomous_navigation_odometry)/launch/coenhaven_gps_odometry.launch"><arg name="simulate" value="$(arg simulate)"/></include> 
	
	<include file="$(find nautonomous_configuration)/launch/planner/move_base.launch" if="$(arg routing)"/>
	<include file="$(find nautonomous_operation_action)/launch/action_client.launch" if="$(arg routing)"><arg name="simulate" value="$(arg simulate)"/></include> 
	
	<include file="$(find nautonomous_actuation_selector)/launch/output_multiplexer.launch"/>
	<include file="$(find nautonomous_actuation_synchronizer)/launch/command_actuation.launch" if="$(arg output_comm)"/>

	<include file="$(find zed_wrapper)/launch/zed.launch" if="$(arg camera)"/>

	<node pkg="rosauth" type="ros_mac_authentication" name="ros_mac_authentication" output="screen" if="$(arg log_to_server)">
        <param name="secret_file_location" value="/var/ssl/secret/nautonomous1.secret" />
    </node>
    <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch" if="$(arg log_to_server)">
        <arg name="port" value="9090" />
        <arg name="ssl" value="true" />
        <arg name="certfile" value="/var/ssl/ROS.crt" />
        <arg name="keyfile" value="/var/ssl/ROS.key" />
        <arg name="authenticate" value="true" />
    </include>
	

	<include file="$(find nautonomous_map_cropper)/launch/map_cropper.launch" unless="$(arg simulate)"/>
	<include file="$(find nautonomous_map_server)/launch/nautonomous_map_server.launch" unless="$(arg simulate)"/>
	<include file="$(find nautonomous_configuration)/launch/map/coenhaven.launch" if="$(arg simulate)"/>

	<include file="$(find nautonomous_configuration)/launch/pose/ekf_with_gps.launch"/>
	<!-- <include file="$(find nautonomous_configuration)/launch/map_amsterdam/amsterdam.launch"/> -->
	
	<include file="$(find nautonomous_navigation_transform)/launch/nautonomous_transforms.launch"/>	
  
	<include file="$(find nautonomous_serverconnection_logger_server)/launch/logger_server.launch" if="$(arg log_to_server)"/>

<!-- 
	<node pkg="rosbag" type="record" name="rosbag_gps" args="record -o $(find nautonomous_configuration)/gps_test /gps/fix /gps_odom /gps/fix_velocity /gps/navposllh /gps/navsol /gps/navstatus /gps/navvelned /robot_pose_ekf/odom_combined /odom_combined" output="screen" />
-->
</launch>
