<launch>
    
    <arg name="scan_topic" default="scan"/>
	<arg name="map_topic" default="map"/>
	
    <node name="costmap_node" pkg="costmap_2d" type="costmap_2d_node" output="screen" >
        <rosparam file="$(find nautonomous_configuration)/config/navigation/costmap/costmap_2d.yaml" command="load" ns="costmap" />
        
        <remap from="base_scan" to="$(arg scan_topic)"/>
	    <remap from="map" to="$(arg map_topic)"/>
    </node>
    
</launch>
