<launch>


    <param name="use_sim_time" value="true" />

    <node pkg="rosbag" type="play" name="rosbag_tf" args="--clock /home/waternet/waternet/nautonomous/rosbag/test_handhaving/gps_2017-06-22-14-13-33.bag /home/waternet/waternet/nautonomous/rosbag/test_handhaving/imu_2017-06-22-14-13-33.bag" output="screen"/>


	<include file="$(find nautonomous_launch)/launch/nautonomous_template.launch">
		<arg name="operation_name_param" value="handhaving"/>
		<arg name="simulate_group" value="false"/>
		<arg name="actuation_group" value="false"/>
		<arg name="webserver_group" value="false"/>
		<arg name="coordinate_simulate_group" value="true"/>
		<arg name="gps_fix_topic" value="/gps/fix"/>
		<arg name="imu_topic" value="/imu/razor"/>
	</include>
</launch>

